<div class="recibos-container">
  <h2>Listado de Recibos</h2>

  <div *ngIf="controller.cargando">Cargando recibos...</div>

  <table *ngIf="!controller.cargando" class="tabla-recibos">
    <thead>
      <tr>
        <th>Recibo</th>
        <th>Partida</th>
        <th>Fecha</th>
        <th>Código</th>
        <th>Proveedor</th>
        <th>Nylon</th>
        <th>Yute</th>
        <th>Peso (qq)</th>
        <th>Compra</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let r of controller.recibos">
        <td>{{ r.recibo_id }}</td>
        <td>{{ r.numero_partida }}</td>
        <td>{{ r.fecha | date:'dd/MM/yyyy' }}</td>
        <td>{{ r.codigo }}</td>
        <td>{{ r.proveedor }}</td>
        <td>{{ r.saco_nylon }}</td>
        <td>{{ r.saco_yute }}</td>
        <td>{{ r.peso_recibo }}</td>
        <td>{{ r.compra }}</td>
        <td>
        <button (click)="controller.generarPDF(r)" class="btn-pdf">Ver PDF</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>


