.header {
  flex: 1;
  background-color: #1f2937;
  color: white;
  padding: 18px 20px;
  text-align: left;
  height: 100%;
  
}

button {
  background: none;
  border: none;
  color: white;
  font-size: 24px;
  cursor: pointer;
  margin-right: 20px;
  left: 20px;
  height: 40px;
  position: absolute;
    
}